
:root {
	--accent: orange;
	--textBackground: #333;
	--text: white;
}

body {
	background-color: #010101;
  color: var(--accent);
}

.App {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin: 0 32px;
  }
  
  .Fact {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--text);
  }
  .Fact_Text {
    background: var(--textBackground);
    padding: 16px;
    font-family: monospace;
    width: 100%;
  }

  .activity {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--text);
    
  }
  .activity_text {
    background: var(--textBackground);
    padding: 16px;
    font-family: monospace;
    width: 100%;
    align-items: center;
  }
  .activity_title {
    background: var(--textBackground);
    padding: 16px;
    font-family: monospace;
    width: 100%;
  }

  .History {
    width: 100%;
  }
  .History_List {
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-size: smaller;
    color: gray;
  }
  
  [aria-busy="true"] {
    pointer-events: none;
    cursor: progress;
    opacity: 0.5;
  }
  